body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:627px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:298px;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:98px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:97px;
  color:#FFFFFF;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:155px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:98px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:0px;
  width:468px;
  height:97px;
  text-align:left;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:464px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:62px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:97px;
  width:159px;
  height:61px;
  color:#FFFFFF;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:155px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:62px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:97px;
  width:468px;
  height:61px;
  text-align:left;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:464px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:136px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:158px;
  width:159px;
  height:135px;
  color:#FFFFFF;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:155px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:136px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:158px;
  width:468px;
  height:135px;
  text-align:left;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:464px;
  word-wrap:break-word;
}
