body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  color:#999999;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:14px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:3px;
  width:98px;
  height:14px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:14px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:3px;
  width:104px;
  height:14px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:14px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:3px;
  width:72px;
  height:14px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:603px;
  color:#CCCCCC;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:32px;
  height:26px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:44px;
  font-size:16px;
  color:#666666;
}
#u20_img.mouseDown {
}
#u20.mouseDown {
}
#u21 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:31px;
  width:22px;
  height:22px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:157px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:79px;
  width:112px;
  height:157px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:246px;
  width:79px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:157px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:79px;
  width:112px;
  height:157px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:246px;
  width:79px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:157px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:79px;
  width:112px;
  height:157px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:246px;
  width:79px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:157px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:277px;
  width:112px;
  height:157px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:444px;
  width:79px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:157px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:277px;
  width:112px;
  height:157px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:444px;
  width:79px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:157px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:277px;
  width:112px;
  height:157px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:444px;
  width:79px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:157px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:475px;
  width:112px;
  height:157px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:642px;
  width:79px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:157px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:475px;
  width:112px;
  height:157px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:642px;
  width:79px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:157px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:475px;
  width:112px;
  height:157px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:642px;
  width:79px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:217px;
  width:112px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:217px;
  width:112px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:415px;
  width:112px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:415px;
  width:112px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:415px;
  width:112px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:613px;
  width:112px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:613px;
  width:112px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:613px;
  width:112px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:79px;
  width:40px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:79px;
  width:40px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:79px;
  width:40px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:217px;
  width:112px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
