body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  color:#999999;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:14px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:3px;
  width:98px;
  height:14px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:14px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:3px;
  width:104px;
  height:14px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:14px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:3px;
  width:72px;
  height:14px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:603px;
  color:#CCCCCC;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u1055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:32px;
  height:26px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:44px;
  font-size:16px;
  color:#666666;
}
#u1057_img.mouseDown {
}
#u1057.mouseDown {
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u1057_ann {
  border-width:0px;
  position:absolute;
  left:73px;
  top:16px;
  width:1px;
  height:1px;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:31px;
  width:22px;
  height:22px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_ann {
  border-width:0px;
  position:absolute;
  left:357px;
  top:27px;
  width:1px;
  height:1px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:157px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:79px;
  width:112px;
  height:157px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_ann {
  border-width:0px;
  position:absolute;
  left:115px;
  top:75px;
  width:1px;
  height:1px;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:246px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1064_ann {
  border-width:0px;
  position:absolute;
  left:30px;
  top:242px;
  width:1px;
  height:1px;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:217px;
  width:112px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:157px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:79px;
  width:112px;
  height:157px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:246px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:217px;
  width:112px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:157px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:79px;
  width:112px;
  height:157px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:246px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:217px;
  width:112px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:157px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:277px;
  width:112px;
  height:157px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:444px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:415px;
  width:112px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:157px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:277px;
  width:112px;
  height:157px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:444px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:415px;
  width:112px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:157px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:277px;
  width:112px;
  height:157px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:444px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:415px;
  width:112px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:157px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:471px;
  width:112px;
  height:157px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:638px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:609px;
  width:112px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:157px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:471px;
  width:112px;
  height:157px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:638px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:609px;
  width:112px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:157px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:471px;
  width:112px;
  height:157px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:638px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:609px;
  width:112px;
  height:19px;
  font-size:11px;
  color:#FFFFFF;
  text-align:right;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:375px;
  height:602px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1124_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:61px;
  width:1px;
  height:1px;
}
