body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:687px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:700px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:700px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:342px;
  width:683px;
  visibility:hidden;
  word-wrap:break-word;
}
